.details {
    width: 75%;
    max-height: 100vh;
    min-height: 300px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.details table {
    width: 75%;
}

.details table th {
    border-left: 1px solid black;
}

.details i {
    margin: 0 5px;
    cursor: pointer;
}

.details .table-header {
    position: relative;
    height: 40px;
    border: 1px solid black;
}

.details .table-header th {
    font-weight: 600;
}

.details .add-item {
    position: absolute;
    display: flex;
    justify-content: flex-end;
    width: 100%;
    top: -16px;
    margin: 0;
}

.details .table-body {
    height: 60px;
    border: 1px solid black;
}

.details .table-body tr {
    text-align: center;
}

.details .table-body .image img {
    width: 25px;
}


.details .table-header .id,
.details .table-header .area,
.details .table-body .id,
.details .table-body .area {
    width: 10%;
}

.details .table-header .name,
.details .table-header .location,
.details .table-body .name,
.details .table-body .location {
    width: 25%;
}

.details .table-header .image,
.details .table-header .action,
.details .table-body .image,
.details .table-body .action {
    width: 15%;
}

.details table:last-child {
    margin-bottom: 30px
}