.details-header {
    display: flex;
    width: 75%;
    height: 30px;
    justify-content: space-between;
    margin-bottom: 30px;
    background-color: #3f51b5;
    color: white;
    font-weight: 600;
}

.details-header p {
    padding-left: 30px;
}

.details-header .user-icon {
    width: 30px;
    padding-right: 30px;
}