.footer {
    width: 75%;
    display: flex;
    position: relative;
    justify-content: space-between;
    background-color: lightgray;
}

.footer .footer-item {
    padding: 10px 30px;
}

.footer .footer-item a {
    text-decoration: none;
}

.footer .footer-links {
    display: flex;
}

.footer .footer-title {
    display: flex;
    align-items: center;
    padding-right: 30px;
}