.home {
    display: flex;
    flex-flow: column;
    align-items: center;
}

.home .description {
    width: 50%;
}

.home a {
    padding-top: 50px;
    text-decoration: none;
    line-height: 30px;
    font-size: 23px;
    font-weight: 600;
    color: black;
}

.home img {
    max-width: 1000px;
}