.form-group {
    width: 40%;
    position: absolute;
    margin-top: 45px;
    padding: 20px;
    border: 1px solid black;
    background-color: white;
    z-index: 2;
}

.form-group button {
    margin: 0 10px;
}

.form-group p {
    font-weight: 600;
}

.form-group .md-form.form-sm {
    margin: 0 auto;
}