/* .App {
  text-align: center;
} */

.App-body {
  max-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
}

.App-body h2{
  color: black;
}
